<!DOCTYPE HTML>
<html>
	<head>
		<title>Log in/Create account</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static',filename='assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Partner Up!</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="logIn.html" class="active">Log In</a></li>
					</ul>
				</nav>
			</header>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">Log in</h1>
							<!-- <span class="image fit"><img src="images/pic04.jpg" alt="" /></span> -->
							<p>Please log in to access your account and start connecting with other students. Don't have an account? Sign up now to start finding your perfect study partner today!</p>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="demo-password" id="demo-password" value="" placeholder="Password" />
							</div>
							<a href="upload.html" class="button large" >Submit</a>
						</div>
					</section>

			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>