<!DOCTYPE HTML>
<html>
	<head>
		<title>Upload Schedule</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Partner Up!</a>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="logIn.html" class="active">Log In</a></li>
					</ul>
				</nav>
			</header>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<h1 class="major">View and edit your schedule</h1>
						</div>
						<div style="width: 100%; display: flex; justify-content: center;">
							<select name="demo-category-1" id="demo-category-1" style="width: 35%; margin: auto;">
								<option value="">Subject</option>
								<option value="1">MA</option>
								<option value="1">ECE</option>
							</select>
							<select name="demo-category-2" id="demo-category-2" style="width: 35%; margin: auto;">
								<option value="">Class Number</option>
								<option value="1">166</option>
								<option value="1">266</option>
							</select>
						</div>
						
						
					</section>

			</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>